<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.luulinhson.oderfood">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".Activity.WaitingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.DangNhapActivity" />
        <activity android:name=".Activity.DangKyActivity" />
        <activity android:name=".Activity.TrangChuActivity" />
        <activity
            android:name=".Activity.ThemBanAnActivity"
            android:theme="@style/PopUpActivity" />
        <activity android:name=".Activity.ThemThucDonActivity" />
        <activity
            android:name=".Activity.ThemLoaiMonAnActivity"
            android:label="@string/themloaimonan"
            android:theme="@style/PopUpActivity" />
        <activity
            android:name=".Activity.ThemSoLuongActivity"
            android:label="@string/themsoluong"
            android:theme="@style/PopUpActivity" />
        <activity android:name=".Activity.ThanhToanActivity" />
        <activity
            android:name=".Activity.SuaTenBanAnActivity"
            android:theme="@style/PopUpActivity" />
        <activity android:name=".Activity.SuaTenMonAnActivity"
            android:theme="@style/PopUpActivity"
            />
    </application>

</manifest>